.error-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .error-component h1, p {
    color: rgb(78, 99, 125);
  }
  
  img {
    max-width: 100px;
    margin-bottom: 2rem;
    
  }
  